<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Tienda Virtual</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div #navbarNav class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" (click)="closeNavbar()">Inicio</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated &&  esUser()">
            <a class="nav-link" routerLink="/creditos" (click)="closeNavbar()"> Mis Créditos</a>
        </li>

           <li class="nav-item" *ngIf="isAuthenticated &&  esAdmin()">
            <a class="nav-link" routerLink="/admin/inventario" (click)="closeNavbar()">Inventarios</a>
        </li>



        <li class="nav-item" *ngIf="isAuthenticated && esAdmin()">
          <a
            class="nav-link"
            routerLink="/admin/productos"
            (click)="closeNavbar()"
            >Panel Admin  Productos</a
          >
        </li>

         <li class="nav-item" *ngIf="isAuthenticated && esAdmin()">
          <a
            class="nav-link"
            routerLink="/admin/creditos"
            (click)="closeNavbar()"
            >Panel Admin Creditos</a
          >
        </li>
        <li class="nav-item" *ngIf="isAuthenticated && esAdmin()">
          <a
            class="nav-link"
            routerLink="/admin/usuarios"
            (click)="closeNavbar()"
            >Usuarios</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" (click)="closeNavbar()"
            >Productos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pedidos" (click)="closeNavbar()"
            >Pedidos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart" (click)="closeNavbar()"
            >Carrito</a
          >
        </li>

        <!-- usuario-->
        <li class="nav-item" *ngIf="isAuthenticated && usuario">
          <span class="nav-link disabled">
            👋 Hola, {{ usuario.nombre || usuario.email }}
            <span *ngIf="esAdmin()" class="badge bg-warning text-dark ms-2"
              >Admin</span
            >
          </span>
        </li>
        <!-- 🔓 Mostrar solo si NO está autenticado -->
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="/login" (click)="closeNavbar()"
            >Ingresar</a
          >
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="/register" (click)="closeNavbar()"
            >Registrarse</a
          >
        </li>

        <!-- <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="/perfil" (click)="closeNavbar()"
            >Mi Perfil</a
          >
        </li> -->

        <!-- 🔐 Mostrar solo si está autenticado -->
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" (click)="logout(); closeNavbar()"
            >Cerrar sesión</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
